<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.cjf.blockchainexplorer.dao.TransactionDetailMapper">
  <resultMap id="BaseResultMap" type="io.cjf.blockchainexplorer.po.TransactionDetail">
    <id column="txid" jdbcType="CHAR" property="txid" />
    <id column="address" jdbcType="VARCHAR" property="address" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="amount" jdbcType="DOUBLE" property="amount" />
  </resultMap>
  <sql id="Base_Column_List">
    txid, address, type, amount
  </sql>

  <select id="selectByAddress" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from transaction_detail
    where address = #{address}
  </select>

  <select id="getTransactionDetailByAddress" parameterType="java.lang.String" resultType="io.cjf.blockchainexplorer.dto.TransactionInAddressDTO">
    select ts.amount amount, ts.txid txid, tx.time time, ts.type type
    from transaction_detail ts
    left join `transaction` tx
    on ts.txid = tx.txid
    where address = #{address}
  </select>

  <select id="getSenderTxId"  resultType="io.cjf.blockchainexplorer.dto.TransactionInAddressDTO">
    select ts.txid txid
    from transaction_detail ts
    where address = #{address} and ts.type = 1
    GROUP BY ts.txid
  </select>

  <select id="getReceived"  resultType="io.cjf.blockchainexplorer.dto.ReceiveInTxInAddressDTO">
    select address address, amount amount from `transaction_detail`
    where txid = #{txid} and type='2'
  </select>

  <select id="selectByPrimaryKey" parameterType="io.cjf.blockchainexplorer.po.TransactionDetailKey" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from transaction_detail
    where txid = #{txid,jdbcType=CHAR}
      and address = #{address,jdbcType=VARCHAR}
  </select>
  <select id="selectByAddress" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from transaction_detail
    where address = #{address}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="io.cjf.blockchainexplorer.po.TransactionDetailKey">
    delete from transaction_detail
    where txid = #{txid,jdbcType=CHAR}
      and address = #{address,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="io.cjf.blockchainexplorer.po.TransactionDetail">
    insert into transaction_detail (txid, address, type, 
      amount)
    values (#{txid,jdbcType=CHAR}, #{address,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, 
      #{amount,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="io.cjf.blockchainexplorer.po.TransactionDetail">
    insert into transaction_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="txid != null">
        txid,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="amount != null">
        amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="txid != null">
        #{txid,jdbcType=CHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="io.cjf.blockchainexplorer.po.TransactionDetail">
    update transaction_detail
    <set>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DOUBLE},
      </if>
    </set>
    where txid = #{txid,jdbcType=CHAR}
      and address = #{address,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.cjf.blockchainexplorer.po.TransactionDetail">
    update transaction_detail
    set type = #{type,jdbcType=TINYINT},
      amount = #{amount,jdbcType=DOUBLE}
    where txid = #{txid,jdbcType=CHAR}
      and address = #{address,jdbcType=VARCHAR}
  </update>

  <!--custom sql-->
  <update id="truncate">
    truncate table `transaction_detail`;
  </update>
</mapper>